.login-style{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    
    /* border-style: solid; */
    /* border-color: aqua; */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 1px -1px 70px 15px #464046 ;
    border-radius: 25px;
    margin-top: 200px;
    cursor: pointer;
}
